# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="sua-chave-secreta-super-segura-para-producao"
NEXTAUTH_URL="http://localhost:3000"

# Discord Webhook (opcional)
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/SEU_WEBHOOK_AQUI"

# Para produção, use:
# DATABASE_URL="postgresql://usuario:senha@host:porta/database"
# NEXTAUTH_URL="https://seu-dominio.com"
